html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}

/* * {
  border: 2px solid pink;

} */

a:hover {
  cursor: pointer !important;
}
a {
  text-decoration: none;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
.loading-screen video {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
}
.all-content {
  display: grid;
  grid-template-columns: 132px 1fr 132px;
  grid-template-rows: 70px 1fr;
  margin-top: 30px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.fun-work {
  display: grid;
  grid-template-columns: 132px 1fr 1fr 1fr 132px;
  margin-top: 30px;
}

.fun-1 {
  background-image: url('bilder/pipe2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2 / 3;
}

.fun-2 {
  background-image: url('bilder/soda_good.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3/ 4;
}

.fun-3 {
  background-image: url('bilder/branding.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4 / 5;
}

.fun-4 {
  background-image: url('bilder/musicplayer.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2/ 3;
}
.fun-5 {
  background-image: url('bilder/gothenburg_fish.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3/ 4;
}
.fun-6 {
  background-image: url('bilder/instruktion.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4/ 5;
}

#work {
  display: grid;
  grid-template-columns: 132px 1fr 1fr 132px;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
}
.arrow-svg {
  position: absolute;
  visibility: hidden;
  color: #fff;
}

.case-content {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 70px 1fr;
  margin-top: 50px;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  /* z-index: -1; */
  top: 0;
  right: 0;
  background-color: #fff;
  /* overflow-x: hidden; */
  transition: ease-out 0.2s;
  padding-top: 15px;
  font-family: montserrat;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav a {
  text-decoration: none;
}

.sidenav :hover {
  color: #e4e4e4;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  cursor: pointer;
  right: 32px;
}

.latest_work {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  display: block;
  transition: 0.3s;
  margin-top: 20vh;
}

.about_me_link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  display: block;
  transition: 0.3s;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-top: 0px;
}
.next_previous {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: montserrat;
  font-size: 12px;
}
.next_previous a {
  color: rgb(57, 57, 88);
}

.streaming_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read_more p {
  font-family: montserrat;
  font-size: 12px;
}

.case_text h3 {
  margin-bottom: 0px;
}
.case_text p {
  margin-top: 0px;
}

.flex-container {
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.flex-container a {
  text-decoration: none;
  color: black;
}

.flex-container a img {
  width: 80px;
}
.nav-links {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

nav {
  width: 100%;
  grid-row: 1;
  grid-column: 2 / 3;
  z-index: 2;
}

nav a:hover {
  color: rgb(58, 58, 58);
  /* transform: scale(1.2); */
}

nav a:active {
  color: black;
}
.about-me-grid-nav {
  width: 100%;
  grid-row: 1;
  grid-column: 2 / 4;
  z-index: 2;
}

/* .first-page-content {
  grid-template-columns: 132px 1fr 132px;
  grid-column: 3 / 4;
  grid-row: 2;
} */

.introduction {
  display: flex;
  /* justify-content: center; */
  margin: 0px;
}

.social {
  grid-row: 4;
  grid-column: 2;
  margin-bottom: 85px;
  z-index: 1;
}

.social a :hover {
  color: rgb(58, 58, 58);
  transform: scale(1.2);
  cursor: pointer;
}

.social i {
  margin-right: 15px;
}

a {
  color: rgb(27, 27, 27);
  transition: all 0.5s ease-out;
}

section a {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

#projekt-1 {
  background-image: url('bilder/island_of_light_grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2;
  grid-column: 2 / 3;
}

#projekt-2 {
  background-image: url('bilder/sgn_mockup_grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2;
  grid-column: 3/ 4;
}

#projekt-3 {
  background-image: url('bilder/kplay-mockup.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1;
  grid-column: 3 / 4;
}

#projekt-4 {
  background-image: url('bilder/swapsie.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1;
  grid-column: 2/ 3;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.container {
  position: relative;
  height: 45vh;
  display: flex;
  justify-content: center;
  margin-left: 1.5vw;
  margin-bottom: 1.5vw;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-size: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.9);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Karla', sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(32, 32, 32);
  margin-bottom: 0px;
}

ul {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.about_content {
  display: grid;
  grid-template-columns: 64px 1fr 1fr 64px;
  margin-top: 30px;
  column-gap: 110px;
  row-gap: 40px;
}

.photo {
  display: grid;
  grid-template-columns: 132px 1fr 1fr 1fr 132px;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  margin-top: 110px;
  column-gap: 5px;
  row-gap: 5px;
}

.photo > div > img {
  max-width: 100%;
}
.hello {
  grid-row: 4;
  grid-column: 2;
}
.social2 {
  grid-row: 4;
  grid-column: 2;
}

.my_photos {
  grid-row: 1;
  grid-column: 2/ 3;
}
.my_photos2 {
  grid-row: 1;
  grid-column: 3/ 4;
}
.my_photos3 {
  grid-row: 1;
  grid-column: 4/ 5;
}
.my_photos4 {
  grid-row: 2;
  grid-column: 2/ 3;
}
.my_photos5 {
  grid-row: 2;
  grid-column: 3/ 4;
}
.my_photos6 {
  grid-row: 2;
  grid-column: 4/ 5;
}
.my_photos7 {
  grid-row: 3;
  grid-column: 2;
}
.my_photos8 {
  grid-row: 3;
  grid-column: 3;
}
.my_photos9 {
  grid-row: 3;
  grid-column: 4;
}

.about-me {
  grid-row: 2;
  grid-column: 2/ 3;
}

.content-me h1 {
  font-size: 40px;
}

.content-me {
  width: 30vw;
  grid-column: 3/4;
  grid-row: 2;
}
.contact {
  margin-bottom: 4vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.contact h6 {
  margin-left: 500px;
  margin-top: -400px;
}

.arrow_down {
  margin-left: 491px;
  margin-top: -106px;
  z-index: 2;
  position: absolute;
}

.contact h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
}

.case {
  grid-row: 2;
  grid-column: 2 / 3;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 50vh;
  flex-direction: column;
}

.img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case img {
  max-width: 670px;
  margin-bottom: 1.5vh;
}

.case_text {
  max-width: 100vw;
}

.sgn {
  color: #fd92df;
}

.add {
  color: #a8a0ff;
}

.swede {
  color: #ffa14a;
}

.happen {
  color: #32cbc2;
}

.mens {
  color: #2f9e6f;
}

.island-span {
  color: #ee3ba4;
}

.system {
  color: #cb543a;
}

.adnan_quote {
  color: #000;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

video {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -5vh;
  margin-bottom: -5vh;
}

ul {
  list-style-type: square;
}

.about-me img {
  max-width: 400px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.burgermenu {
  display: none;
}
/* .sidenav {
  visibility: hidden;
} */
/* .sidenav {
  z-index: 3;
} */

@media screen and (max-width: 1300px) {
  #work {
    grid-template-columns: 132px 1fr 1fr 132px;
  }
  .photo {
    grid-template-columns: 64px 1fr 1fr 64px;
  }
  .my_photos {
    grid-column: 2/3;
  }
  .my_photos2 {
    grid-column: 3/4;
  }
  .my_photos3 {
    grid-column: 2/3;
    grid-row: 2;
  }
  .my_photos4 {
    grid-column: 3/4;
    grid-row: 2;
  }
  .my_photos5 {
    grid-column: 2/3;
    grid-row: 3;
  }
  .my_photos6 {
    grid-column: 3/4;
    grid-row: 3;
  }
  .my_photos7 {
    grid-column: 2/3;
    grid-row: 4;
  }
  .my_photos8 {
    grid-column: 3/4;
    grid-row: 4;
  }
  .my_photos9 {
    grid-column: 2/3;
    grid-row: 5;
  }

  .hello,
  .social {
    grid-column: 2/3;
    grid-row: 6;
  }
  .fun-work {
    grid-template-columns: 132px 1fr 1fr 1fr 132px;
  }
  .case-content {
    display: grid;
    grid-template-columns: 132px 1fr 132px;
    grid-template-rows: 70px 1fr;
    margin-top: 50px;
    position: relative;
  }
}

.all-content {
  display: grid;
  grid-template-columns: 132px 1fr 132px;
  grid-template-rows: 70px 1fr;
  margin-top: 30px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.case {
  grid-row: 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  position: relative;
  margin-top: 50vh;
}

.img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 5vh;
}
.case img {
  margin-bottom: 1.5vh;
}

.case video {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.case_text {
  max-width: 100vw;
  align-self: center;
}

.about-me {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.case_hero1 {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(bilder/islandoflight_iphone.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
}

.case_hero2 {
  height: 49vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(bilder/visitkort.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
}
.case_hero3 {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(bilder/mockup-kplay.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
}
.case_hero4 {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(bilder/mockup-swapsie.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
}

.middle2_1 {
  height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(bilder/sgn.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.middle2_2 {
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(bilder/logos.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.middle2_3 {
  height: 30vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(bilder/figurer.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0vh;
  margin-bottom: 0vh;
}
.middle2_4 {
  height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(bilder/mobile_sgn_grey.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.middle2_5 {
  height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(bilder/sgn_mockup_grey.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

/*  RESPONSIVE FOR IPAD PORTRAIT  */
@media screen and (max-width: 1100px) {
  #work {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
  }
  .photo {
    grid-template-columns: 64px 1fr 1fr 64px;
  }

  #projekt-1 {
    grid-row: 4;
    grid-column: 2 /4;
  }
  #projekt-2 {
    grid-row: 3;
    grid-column: 2 /4;
  }
  #projekt-3 {
    grid-row: 2;
    grid-column: 2 /4;
  }
  #projekt-4 {
    grid-row: 1;
    grid-column: 2 /4;
  }
  .fun-work {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 1fr 16px;
    margin-top: 30px;
  }
  .fun-1 {
    grid-column: 2 /5;
  }
  .fun-2 {
    grid-column: 2 /5;
  }
  .fun-3 {
    grid-column: 2 /5;
  }
  .fun-4 {
    grid-column: 2 /5;
  }
  .fun-5 {
    grid-column: 2 /5;
  }
  .fun-6 {
    grid-column: 2 /5;
  }

  .container {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
    margin-bottom: 1.5vw;
    margin-right: 1.5vw;
  }

  .all-content {
    display: grid;
    grid-template-columns: 72px 1fr 72px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .about_content {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    column-gap: 70px;
    row-gap: 40px;
  }

  .about-me {
    display: flex;
    position: relative;
  }

  .case {
    grid-row: 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 45vh;
  }

  .img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 5vh;
  }
  .case img {
    max-width: 80%;
    margin-bottom: 1.5vh;
  }

  .case video {
    max-width: 100%;
    margin-bottom: -2vh;
  }

  .case_text {
    max-width: 100vw;
    align-self: center;
  }

  .case_hero1 {
    height: 40vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(bilder/islandoflight_iphone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
  }

  .case_hero2 {
    height: 42vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(bilder/colors.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7vh;
  }
  .case_hero3 {
    height: 40vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
  }
  .case_hero4 {
    height: 40vh;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .burgermenu {
    display: initial;
    position: absolute;
    right: 32px;
  }
  .nav-links {
    display: none;
  }
  .photo {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
  }
  .photo > div > img {
    max-width: 100%;
  }
  .my_photos {
    grid-column: 2/3;
    grid-row: 1;
  }
  .my_photos2 {
    grid-column: 2/3;
    grid-row: 2;
  }
  .my_photos3 {
    grid-column: 2/3;
    grid-row: 3;
  }
  .my_photos4 {
    grid-column: 2/3;
    grid-row: 4;
  }
  .my_photos5 {
    grid-column: 2/3;
    grid-row: 5;
  }
  .my_photos6 {
    grid-column: 2/3;
    grid-row: 6;
  }
  .my_photos7 {
    grid-column: 2/3;
    grid-row: 7;
  }
  .my_photos8 {
    grid-column: 2/3;
    grid-row: 8;
  }
  .my_photos9 {
    grid-column: 2/3;
    grid-row: 9;
  }
  .hello {
    grid-column: 2/3;
    grid-row: 10;
  }
  .social {
    grid-column: 2/3;
    grid-row: 10;
  }
}

/* RESPONSIVE FOR SMALLER PADS */

@media screen and (max-width: 770px) {
  h4 {
    font-size: 28px;
  }
  .container {
    height: 40vh;
  }

  .about-me img {
    width: 100%;
    margin-top: 30px;
  }

  .case video {
    max-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 5vh;
  }
  .case img {
    max-width: 100%;
    margin-bottom: 1.5vh;
  }

  .case_text {
    max-width: 100vw;
    align-self: center;
  }

  .case-content {
    display: grid;
    grid-template-columns: 72px 1fr 72px;
    grid-template-rows: 70px 1fr;
    margin-top: 50px;
  }

  .all-content {
    grid-template-columns: 72px 1fr 72px;
  }
  .content-me {
    width: 100%;
    grid-column: 2/4;
    grid-row: 3;
    z-index: 1;
  }

  .about-me {
    grid-column: 2/4;
  }

  .burgermenu {
    display: initial;
    position: absolute;
    right: 32px;
  }

  .nav-links {
    display: none;
  }

  .case_hero1 {
    height: 35vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(bilder/islandoflight_iphone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
  }

  .case_hero2 {
    height: 40vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(bilder/colors.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
  }
  .case_hero3 {
    height: 35vh;
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
  }
  .case_hero4 {
    height: 35vh;
    width: 100%;

    margin-top: 8vh;
  }

  .case {
    margin-top: 40vh;
  }
}

/* RESPONSIVE FOR LARGE PHONES */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h4 {
    font-size: 18px;
  }
  #work {
    grid-template-columns: 8px 1fr 1fr 8px;
  }
  .fun-work {
    grid-template-columns: 8px 1fr 8px;
  }

  .all-content {
    grid-template-columns: 16px 1fr 16px;
  }

  .container {
    height: 35vh;
  }

  .case video {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-weight: lighter;
  }

  .about_content {
    display: grid;
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 70px 1fr;
    margin-top: 30px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    column-gap: 20px;
    row-gap: 0px;
  }

  .about-me {
    grid-column: 2/4;
  }

  .about-me img {
    width: 100%;
    margin-right: 1.5vw;
    margin-top: 20px;
  }

  .content-me {
    width: 100%;
    grid-column: 2/4;
    grid-row: 3;
  }

  .img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 5vh;
  }
  .case img {
    max-width: 100%;
    margin-bottom: 1.5vh;
  }

  .case_text {
    max-width: 100vw;
    align-self: center;
  }

  .case-content {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 70px 1fr;
    margin-top: 50px;
  }

  .burgermenu {
    position: absolute;
    right: 32px;
  }
  /* .nav-links {
  visibility: hidden;
} */

  .case_hero2 {
    margin-top: 5vh;
    background-size: 100%;
  }

  .case_hero1 {
    margin-top: 8vh;
    background-size: cover;
  }
  .case_hero3 {
    margin-top: 5vh;
    background-size: contain;
  }
  .case_hero4 {
    margin-top: 10vh;
    background-size: cover;
  }
  .middle2_5 {
    height: 30vh;
    background-size: contain;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .middle2_1 {
    height: 60vh;
    background-size: cover;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .middle2_4 {
    height: 35vh;
    background-size: contain;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
}

/* RESPONVEISVE FOR SMALL PHONES */

@media screen and (max-width: 411px) {
  .case_text {
    max-width: 100vw;
  }

  .case video {
    max-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  h1 {
    font-size: 19px;
  }
  .sidenav a {
    font-size: 18px;
    padding: 15px;
  }

  .case_hero2 {
    margin-top: 30px;
    background-size: contain;
  }
  .case_hero1 {
    margin-top: 50px;
    background-size: cover;
  }
  .case_hero3 {
    margin-top: 50px;
    background-size: cover;
  }
  .case_hero4 {
    margin-top: 8vh;
    background-size: cover;
  }
  .case {
    margin-top: 35vh;
  }

  .middle2_1 {
    height: 60vh;
    background-size: cover;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .middle2_4 {
    height: 35vh;
    background-size: contain;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .middle2_5 {
    height: 30vh;
    background-size: contain;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .case video {
    margin-top: 0vh;
  }
}
